/* CSS Document */


body {
	/* font: 16px "Arial", Helvetica, sans-serif; */
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	color: #000;
	background-color: #fff;
	line-height: 1.35em;
}
a:link{ text-decoration: none;}
.text-white{color:#fff !important}

.text-red{color:#871c1c !important}


.container-md{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}

.page-heading h1{font-size:3rem;line-height: 1.7em;text-align:center; text-shadow: 1px 1px 2px rgba(63, 58, 58, 0.722);}

hr.small{max-width:6.25rem;margin:1rem auto;border-width:0.25rem;border-color:inherit;border-radius:0.1875rem}
.page-heading .page-subheading{font-size:1.2rem;line-height:1.1;display:block;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight:300;margin:0.625rem 0 0;text-align:center}

.page-heading .page-subheading a{color:#fff;}
.banner{overflow:hidden;position:relative;background:none}
.jumbotron .container{position:relative;z-index:2;background:rgba(38, 35, 35, 0.19);padding:2rem;border:1px solid rgba(0,0,0,0.1);border-radius:3px}
.jumbotron-background{object-fit:cover;position:absolute;top:0;bottom:0;z-index:1;width:100%;height:100%;opacity:0.5}

img.blur{width:100%;-webkit-filter:blur(4px);filter:blur(4px);filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4')}

.btn{padding:0.75rem 1rem}

.btn{display:inline-block;margin-bottom:1rem;color:rgba(255,255,255,0.7);background-color:rgba(255,255,255,0.08);border-color:rgba(255,255,255,0.2);border-style:solid;border-width:1px;border-radius:0.3rem;transition:color 0.2s, background-color 0.2s, border-color 0.2s}

.main-content{font-size:1.1rem;line-height:1.5;word-wrap:break-word}

.main-content h1,h2,h3{padding-top:2em}

.avatar{width:130px;max-width:130px;height:130px;border-radius:50%;object-fit:cover;margin-left:auto;margin-right:auto;margin-top:24px;margin-bottom:8px}


.jumbotron .container-page {
    position: relative;
    z-index: 2;
    background: rgba(0,0,0,0.2);
    padding: 2rem;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
}

.container {
	width: 80%;
	/* min-height: 1000px; */
	margin: 0 auto;
	/* top and bottom, right and left */
	/*	border: 1px solid #000; */
	text-align: center;
	/* top, right, bottom, left */
	color: #000;
	background: #fff;
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
}

.venue {
	font-size: 120%;
	font-weight: bold;
	display: block;
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
}

.title {
	font-size: 200%;
	font-weight: bold;
	display: block;
	text-align: center;
	margin-top: 14px;
	/* h1 default */
	margin-bottom: 14px;
	line-height: normal;
}

.subtitle {
	font-size: 175%;
	font-weight: bold;
	display: block;
	text-align: center;
	margin-top: 14px;
	/* h1 default */
	margin-bottom: 14px;
	line-height: normal;
}

table.authors td {
	font-size: 15px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 5px;
}

table.affiliations td {
	font-size: 15px;
	padding-right: 5px;
	padding-left: 5px;
}

.caption {
	font-style: italic;
	font-size: 100%;
}

.section {
	font-size: 230%;
	font-weight: bold;
	color:#a33737e8;
	text-shadow: 1px 1px 2px rgba(63, 58, 58, 0.722);
}

.page-word {
	font-size: 90%;
	color:#ffffff;
	text-align: left;
}

.bibtex {
	font-family: "Courier New", Courier, monospace;
	white-space: pre;
}

.date {
	font-size: 80%;
}

table.data td {
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	vertical-align: top;
}



/*---------------------------------------------------*/
.cd-uhdimage-container {
	position:relative;
	display: inline-block;
	line-height: 0;
	margin: 0.4vw;
	width: 25vw;
	max-width: 25vw;
  }
  
  
  .cd-uhdimage-container img {
	display: block;
	width: 24vw;
  }


.cd-image-container {
	position:relative;
	display: inline-block;
	line-height: 0;
	margin: 0.4vw;
	width: 25vw;
	max-width: 25vw;
  }
  
  
  .cd-image-container img {
	display: block;
	width: 24.3vw;
  }
  
  .cd-image-label {
	position: absolute;
	bottom: 0;
	right: 0;
	color: #ffffff;
	padding: 1em;
	font-size: 1.1vw;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	opacity: 0;
	-webkit-transform: translateY(1vw);
	-moz-transform: translateY(1vw);
	-ms-transform: translateY(1vw);
	-o-transform: translateY(1vw);
	transform: translateY(1vw);
  }
  .cd-image-label.is-hidden {
	visibility: hidden;
  }
  .is-visible .cd-image-label {
	opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
  }
  
  .cd-resize-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	overflow: hidden;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  }
  .cd-resize-img img {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	height: 100%;
	width: auto;
	max-width: none;
  }
  .cd-resize-img .cd-image-label {
	right: auto;
	left: 0;
  }
  .is-visible .cd-resize-img {
	width: 50%;
	/* bounce in animation of the modified image */
	-webkit-animation: cd-bounce-in 0.4s;
	-moz-animation: cd-bounce-in 0.4s;
	animation: cd-bounce-in 0.4s;
  }
  
  .cd-handle {
	position: absolute;
	height: 2vw;
	width: 2vw;
	/* center the element */
	left: 50%;
	top: 50%;
	margin-left: -1vw;
	margin-top: 0vw;
	border-radius: 50%;
	/*background: #dc717d url("../assets/img/cd-arrows.svg") no-repeat center center;*/
	cursor: move;
	box-shadow: 0 0 0 6px rgba(147, 83, 83, 0.616), 0 0 10px rgba(65, 142, 98, 0.6), inset 0 1px 0 rgba(52, 159, 63, 0.713);
	opacity: 0;
	-webkit-transform: translate3d(0, 0, 0) scale(0);
	-moz-transform: translate3d(0, 0, 0) scale(0);
	-ms-transform: translate3d(0, 0, 0) scale(0);
	-o-transform: translate3d(0, 0, 0) scale(0);
	transform: translate3d(0, 0, 0) scale(0);
}
  .cd-first {
		background: rgba(207, 236, 19, 0.837);
	  box-shadow: 0 0 0 6px rgba(25, 177, 70, 0.611), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  }

  .is-visible .cd-handle {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0) scale(1);
	-moz-transform: translate3d(0, 0, 0) scale(1);
	-ms-transform: translate3d(0, 0, 0) scale(1);
	-o-transform: translate3d(0, 0, 0) scale(1);
	transform: translate3d(0, 0, 0) scale(1);
  }

  /*---------------------------------------------------*/
